<div class="pagination-box">
    <div *ngIf="page > 2" class="pagination-button" (click)="goToPage(1)">
        {{'<<'}}
    </div>

    <div *ngIf="page > 1" class="pagination-button" (click)="goToPage(page - 1)">
        {{'<'}}
    </div>

    <div *ngFor="let i of getPageRange()" [ngClass]="{ 'pagination-button': true, active: i === page }" (click)="goToPage(i)">
        {{i}}
    </div>

    <div *ngIf="page < getTotalPages() - 1" class="pagination-button" (click)="goToPage(page + 1)">
        {{'>'}}
    </div>

    <div *ngIf="page < getTotalPages() - 2" class="pagination-button" (click)="goToPage(getTotalPages())">
        {{'>>'}}
    </div>
</div>