@use 'themes';

body {
  font-family: 'Helvetica';
  line-height: 1.5;
}

.mat-grid-tile-content {
  display: block !important;
  text-align: center;
}

.cols-8 {
  flex: 8;
}

.cols-4 {
  flex: 4;
}

//lg
@media screen and (min-width: 1200px) {
  .cols-lg-4 {
    flex: 4;
  }
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.container {
  padding: 2%;
}

.bordered-container {
  margin: 0.25%;
  width: 99.5%;
  border: 1px solid gray;
  border-radius: 5px;
}

.row {
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.link {
  color: #42a5f5;
  cursor: pointer;
}

.chip {
  //background-color: #f3f6f9 !important;

  &.clickable {
    span {
      cursor: pointer;
    }
  }
}

.custom-dialog-surface .mat-mdc-dialog-surface.mdc-dialog__surface {
  background: transparent;
  box-shadow: none;
}
