@use '@angular/material' as mat;

html {
        @include mat.theme((
                color: (
                        primary: mat.$azure-palette,
                        tertiary: mat.$orange-palette,
                        theme-type: light,
                ),
                typography: Roboto,
                density: 0
        ));
}

.primary {
        @include mat.button-overrides((
                filled-container-color: rgb(66, 165, 245),
                outlined-outline-color: rgb(66, 165, 245),
                outlined-label-text-color: rgb(66, 165, 245),
                outlined-state-layer-color: rgb(66, 165, 245),
                text-label-text-color: rgb(66, 165, 245),
                text-state-layer-color: rgb(66, 165, 245)
        ));

        @include mat.toolbar-overrides((
                container-background-color: rgb(66, 165, 245)
        ));

        @include mat.checkbox-overrides((
                selected-icon-color: rgb(66, 165, 245),
                selected-hover-icon-color: rgb(66, 165, 245),
                selected-hover-state-layer-color: rgb(66, 165, 245),
                selected-pressed-icon-color: rgb(66, 165, 245),
                selected-pressed-state-layer-color: rgb(66, 165, 245),
                selected-focus-icon-color: rgb(66, 165, 245),
                selected-focus-state-layer-color: rgb(66, 165, 245),
        ));

        @include mat.progress-spinner-overrides((
                active-indicator-color: rgb(66, 165, 245),
        ));

        @include mat.chips-overrides((
                outline-color: rgb(66, 165, 245),
                label-text-color: rgb(66, 165, 245),
                hover-state-layer-color: rgb(66, 165, 245),
        ));

        @include mat.fab-overrides((
                container-color: rgb(66, 165, 245)
        ));
}

.accent {
        @include mat.button-overrides((
                filled-container-color: rgb(186, 104, 200),
                outlined-outline-color: rgb(186, 104, 200),
                outlined-label-text-color: rgb(186, 104, 200),
                outlined-state-layer-color: rgb(186, 104, 200),
                text-label-text-color: rgb(186, 104, 200),
                text-state-layer-color: rgb(186, 104, 200)
        ));

        @include mat.checkbox-overrides((
                selected-icon-color: rgb(186, 104, 200),
                selected-hover-icon-color: rgb(186, 104, 200),
                selected-hover-state-layer-color: rgb(186, 104, 200),
                selected-pressed-icon-color: rgb(186, 104, 200),
                selected-pressed-state-layer-color: rgb(186, 104, 200),
                selected-focus-icon-color: rgb(186, 104, 200),
                selected-focus-state-layer-color: rgb(186, 104, 200),
        ));

        @include mat.chips-overrides((
                outline-color: rgb(186, 104, 200),
                label-text-color: rgb(186, 104, 200),
                hover-state-layer-color: rgb(186, 104, 200),
        ));
}

.warn {
        @include mat.button-overrides((
                filled-container-color: rgb(244, 67, 54),
                outlined-outline-color: rgb(244, 67, 54),
                outlined-label-text-color: rgb(244, 67, 54),
                outlined-state-layer-color: rgb(244, 67, 54),
                text-label-text-color: rgb(244, 67, 54),
                text-state-layer-color: rgb(244, 67, 54),
        ));

        @include mat.icon-button-overrides((
                icon-color: rgb(244, 67, 54)
        ));

        @include mat.checkbox-overrides((
                selected-icon-color: rgb(244, 67, 54),
                selected-hover-icon-color: rgb(244, 67, 54),
                selected-hover-state-layer-color: rgb(244, 67, 54),
                selected-pressed-icon-color: rgb(244, 67, 54),
                selected-pressed-state-layer-color: rgb(244, 67, 54),
                selected-focus-icon-color: rgb(244, 67, 54),
                selected-focus-state-layer-color: rgb(244, 67, 54),
        ));

        @include mat.chips-overrides((
                outline-color: rgb(244, 67, 54),
                label-text-color: rgb(244, 67, 54),
                hover-state-layer-color: rgb(244, 67, 54),
        ));
}

.white {
        @include mat.icon-button-overrides((
                icon-color: white
        ));
}

:root {
        @include mat.button-overrides((
                filled-container-shape: 4px,
                outlined-container-shape: 4px
        ));
}