<div>
    <div *ngIf="loaded">
        <app-stats-table
            [columns]="columns"
            [selectedFilters]="selectedFilters"
            [stats]="stats"
            [sortMap]="sortMap"
            [handleSort]="handleSort"
        >
        </app-stats-table>

        <app-pagination-box
            [page]="page"
            [totalCount]="totalCount"
            [goToPage]="goToPage"
        >
        </app-pagination-box>

        <app-filters
            [options]="options"
            [selected]="selectedFiltersTemp"
            [onFiltersApply]="handleApplyFilters"
            [onEvent]="handleFilterEvent"
            [clearFilter]="handleClearFilter"
            [clearAllFilters]="handleClearAllFilters"
            [showFilters]="showFilters"
        >
        </app-filters>
    </div>
</div>